<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="com.springboot.live_comm.model.Book" id="book">
        <property name="id" value="100"/>
        <property name="name" value="三国演义"/>
        <property name="author" value="罗贯中"/>
        <property name="price" value="100"/>
<!--        <property name="publicationDate" value="2020"/>-->
    </bean>

    <bean class="com.springboot.live_comm.model.Hello" id="hello">
        <property name="start" value="zty"/>
        <property name="book" ref="book"/>
    </bean>


</beans>