<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.live_comm.mappers.mybatiss1.UploadFileDetailMapper">


    <sql id="MainDatabase">
        upload_file_detail
    </sql>
    <sql id="PrimaryKey">
        id
    </sql>


    <!--使用时注意逗号-->
    <sql id="attributeNameTests">
        <if test="fileId != null">id,</if>
        <if test="userId != null and userId != ''">userId,</if>
        <if test="path != null and path != ''">path,</if>
        <if test="fileName != null and fileName != ''">fileName,</if>
    </sql>

    <sql id="Base_Column_List">
        id as fileId
        ,userId
        ,path
        ,fileName
    </sql>
    <sql id="selectWhere">
        <where>
            <if test="fileId != null">
                and id = #{fileId, jdbcType=NUMERIC}
            </if>

            <if test="userId != null and userId != ''">
                and user_id = #{userId, jdbcType=VARCHAR}
            </if>
            <if test="path != null and path != ''">
                and path = #{path, jdbcType=VARCHAR}
            </if>
            <if test="fileName != null and fileName != ''">
                and file_name = #{fileName, jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <sql id="attributeValueTests">
        <if test="fileId != null and id != ''">#{fileId},</if>
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="path != null and path != ''">#{path},</if>
        <if test="fileName != null and fileName != ''">#{fileName},</if>


    </sql>

    <select id="selectOne" resultType="com.springboot.live_comm.entity.fileSystem.UploadFileDetail" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        ,createTime
        ,updateTime
        from
        <include refid="MainDatabase"/>
        <include refid="selectWhere"/>
    </select>


    <select id="selectById" resultType="com.springboot.live_comm.entity.fileSystem.UploadFileDetail"
            parameterType="string">
        select
        <include refid="Base_Column_List"/>
        ,createTime
        ,updateTime
        from
        <include refid="MainDatabase"/>
        where
        <include refid="PrimaryKey"/>
        = #{fileId}
    </select>


    <select id="selectAll" resultType="com.springboot.live_comm.entity.fileSystem.UploadFileDetail" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        ,createTime
        ,updateTime
        from
        <include refid="MainDatabase"/>
    </select>


    <insert id="insert">
        insert into
        <include refid="MainDatabase"></include>(
        <include refid="attributeNameTests"></include>
        createTime,
        updateTime
        )
        values(
        <include refid="attributeValueTests"></include>
        CURRENT_TIMESTAMP,
        CURRENT_TIMESTAMP
        )
    </insert>


</mapper>

