<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--手机与电脑在查看时都会兼容-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主菜单页</title>
</head>

<body>
<div>
    <label for="username">当前登录用户:</label>
    <input type="text" id="username" th:value="${username}" readonly="readonly">
</div>
<div>
    <button type="button" name="chatRoom" onclick="chatRoom()">聊天室</button>
    <button type="button" name="chatToSomeone" onclick="chatToSomeone()">单独聊天</button>
    <button type="button" name="woodenFish" onclick="woodenFish()">积点功德</button>
    <button type="button" name="tencentCloudF5FaceCore" onclick="tencentCloudF5FaceCore()">实名认证</button>
    <button type="button" name="snake" onclick="snake()">贪吃蛇</button>
</div>
</body>
<script type="text/javascript">
    // var username = $("#username").text();


    function chatRoom() {
        window.location.href = "chatRoom";
    }

    function chatToSomeone() {
        window.location.href = "chatToSomeone";
    }

    function woodenFish() {
        window.location.href = "woodenFish";
    }

    function tencentCloudF5FaceCore() {
        window.location.href = "tencentCloudF5FaceCore";
    }

    function snake() {
        window.location.href = "snake";
    }
</script>
</html>
